* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Mina", sans-serif;
  background-color: rgba(252, 245, 233, 0.952); }
  body .top-section {
    display: flex;
    flex-direction: column; }
    body .top-section .socialMediaIcons {
      margin: 50px 50px 0; }
      body .top-section .socialMediaIcons .socialIcon {
        text-decoration: none;
        margin: 10px; }
        body .top-section .socialMediaIcons .socialIcon .fab {
          font-size: 20px;
          color: #c2a279;
          border: 3px solid #c2a279;
          border-radius: 50%;
          padding: 10px;
          transition: all 0.2s ease-in-out; }
          body .top-section .socialMediaIcons .socialIcon .fab:hover {
            transform: scale(1.2); }
    body .top-section .imageSection {
      display: flex;
      justify-content: center;
      padding: 20px; }
      body .top-section .imageSection .profileImg {
        border: 2px solid rgba(252, 245, 233, 0.952);
        width: 160px;
        height: 160px;
        box-shadow: 4px 3px 6px 1px #888888;
        border-radius: 50%; }
        @media screen and (min-width: 1024px) {
          body .top-section .imageSection .profileImg {
            width: 200px;
            height: 200px; } }
    body .top-section .myNameSection {
      margin: 0 0 0 10%;
      border-left: 6px solid black;
      overflow: hidden; }
      body .top-section .myNameSection .bigline {
        font-size: 10vw;
        color: #c2a279;
        margin: 0 0 0 14px;
        line-height: 1.2;
        letter-spacing: -2px; }
        @media screen and (min-width: 1024px) {
          body .top-section .myNameSection .bigline {
            font-size: 5vw; } }
      body .top-section .myNameSection .introline {
        font-size: 5vw;
        margin: 0 0 0 20px;
        font-weight: bold; }
        @media screen and (min-width: 1024px) {
          body .top-section .myNameSection .introline {
            font-size: 2vw; } }
  body .mainContent {
    padding-top: 60px; }
    @media screen and (min-width: 1024px) {
      body .mainContent {
        display: flex; } }
    body .mainContent .description {
      font-size: 1.5rem;
      max-width: 60rem;
      text-align: left;
      background: black;
      color: white;
      padding: 20px;
      margin: 20px; }
      @media screen and (min-width: 1024px) {
        body .mainContent .description {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          text-align: center;
          padding: 20px;
          margin-left: 77px; } }
      body .mainContent .description .mainText .far {
        padding-right: 20px;
        font-size: 1rem; }
        @media screen and (min-width: 1024px) {
          body .mainContent .description .mainText .far {
            font-size: 1.8rem; } }
      body .mainContent .description .mainText .contactMail {
        color: #c2a279;
        font-size: 0.9rem; }
        body .mainContent .description .mainText .contactMail:hover {
          color: rgba(81, 238, 225, 0.959); }
        @media screen and (min-width: 1024px) {
          body .mainContent .description .mainText .contactMail {
            font-size: 2rem; } }
    body .mainContent .techSkillsSection {
      text-align: center;
      width: 100%; }
      @media screen and (min-width: 1024px) {
        body .mainContent .techSkillsSection {
          text-align: center; } }
      body .mainContent .techSkillsSection .techSkillsText {
        font-size: 1.2rem; }
        @media screen and (min-width: 1024px) {
          body .mainContent .techSkillsSection .techSkillsText {
            font-size: 1.5rem; } }
      body .mainContent .techSkillsSection .techlist {
        list-style-type: none; }

footer {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem; }
  footer .socialIcon {
    text-decoration: none;
    margin: 10px; }
    footer .socialIcon .fab {
      font-size: 20px;
      color: #c2a279;
      border: 3px solid #c2a279;
      border-radius: 50%;
      padding: 10px;
      transition: all 0.2s ease-in-out; }
      footer .socialIcon .fab:hover {
        transform: scale(1.2); }
